.color-container-header {
    background-color: rgb(77, 38, 141);    
}

.text-container-header {
    padding: 0rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.text-container-header p {
    font-size: 0.75rem;
    margin: 0.25rem 0rem;
}